* {
  margin: 0;
  padding: 0;
  font-family: 'PingFangSC-Regular', 'helvetica neue', tahoma, 'PingFang SC', 'microsoft yahei', arial, 'hiragino sans gb', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.box {
  width: 100%;
  min-width: 1200px;
}

.box header {
  min-width: 1000px;
  width: 100%;
  height: 72px;
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: #fff;
}

.box header .head {
  width: 1200px;
  height: 72px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box header .head .logo {
  width: 168px;
  height: 22px;
}

.box header .head .logo a {
  display: block;
  width: 168px;
  height: 22px;
  background: url(https://www.tencent.com/img/index/menu_logo_hover.png) no-repeat 0 0/100% 100%;
}

.box header .head .nav {
  width: 672px;
  height: 72px;
  display: flex;
  justify-content: space-between;
}

.box header .head .nav > li {
  height: 72px;
  position: relative;
}

.box header .head .nav > li:hover > a > span {
  width: 100%;
  opacity: 1;
}

.box header .head .nav > li:hover > ul {
  opacity: 1;
  height: 343px;
}

.box header .head .nav > li > a {
  display: block;
  height: 72px;
  font-size: 16px;
  color: #2b2e2e;
  font-weight: bold;
  opacity: 0.95;
  line-height: 72px;
  position: relative;
}

.box header .head .nav > li > a span {
  display: block;
  height: 4px;
  width: 0;
  position: absolute;
  bottom: 19px;
  left: 50%;
  background: #194ac3;
  opacity: 0;
  transition: 0.5s;
  transform: translate(-50%);
  z-index: 2;
}

.box header .head .nav > li > ul {
  opacity: 0;
  position: absolute;
  top: 72px;
  height: 0;
  transition: 0.5s;
  overflow: hidden;
}

.box header .head .nav > li > ul li {
  width: 160px;
}

.box header .head .nav > li > ul li:hover a {
  color: #000;
}

.box header .head .nav > li > ul li a {
  display: block;
  font-size: 16px;
  color: #2b2e2e;
  opacity: 0.7;
  padding: 13px 0;
}

.box header .head .lang {
  width: 93px;
  height: 24px;
}

.box header .head .lang a {
  font-size: 16px;
  opacity: 0.7;
  color: #000;
}

.box header .head .lang span {
  font-size: 16px;
  color: #2b2e2e;
  opacity: 0.7;
}

.box .bg {
  width: 100%;
  height: 0;
  background-color: #fff;
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 4;
}

.box .bgImg {
  width: 100%;
  height: 482px;
  background: url(https://www.tencent.com/img/banners/investor-1.jpg) no-repeat top/cover;
  position: relative;
  top: 72px;
}

.box .bgImg > div {
  width: 1200px;
  position: absolute;
  top: 202px;
  left: calc((100% - 1200px)/2);
}

.box .bgImg > div h2 {
  font-family: 'TencentSansw3';
  font-size: 44px;
  color: #2a2e2e;
  margin-bottom: 8px;
  font-weight: 400;
}

.box .bgImg > div p {
  font-size: 16px;
  color: #2A2E2E;
}

.box .faceto {
  width: 100%;
  height: 68px;
  border-bottom: 1px solid #f4f4f4;
  margin-top: 72px;
}

.box .faceto > div {
  width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
}

.box .faceto > div > a {
  display: block;
  height: 68px;
  color: #2a2e2e;
  font-size: 20px;
  line-height: 68px;
  margin-right: 56px;
  position: relative;
}

.box .faceto > div a:nth-child(1)::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0052d9;
  position: absolute;
  bottom: 0;
}

.box .news {
  padding: 96px 0;
}

.box .news > div {
  width: 1200px;
  margin: auto;
}

.box .news > div .news_title {
  font-size: 30px;
  color: #2a2e2e;
  font-family: 'TencentSansw7';
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box .news > div .news_title a {
  font-size: 16px;
  color: #5F6464;
  letter-spacing: 0;
  font-weight: bold;
}

.box .news > div .news_title a i {
  display: inline-block;
  margin-left: 10px;
  width: 8px;
  height: 14px;
  background: url(https://www.tencent.com/img/investor/more-awart.png) no-repeat center;
  background-size: 100% 100%;
}

.box .news > div .news_content {
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.box .news > div .news_content > div {
  width: 49%;
  background: #fff;
  border: 1px solid #EFEFEF;
  padding: 32px 45px 41px 0px;
  box-sizing: border-box;
}

.box .news > div .news_content .newsl h4 {
  font-size: 16px;
  color: #5f6464;
  letter-spacing: 0;
  line-height: 25px;
  font-weight: bold;
  padding-left: 32px;
}

.box .news > div .news_content .newsl .list_box {
  margin-top: 40px;
}

.box .news > div .news_content .newsl .list_box .list_box1 {
  width: 82%;
  padding-left: 32px;
  box-sizing: border-box;
  position: relative;
}

.box .news > div .news_content .newsl .list_box .list_box1 :nth-child(1) {
  font-size: 20px;
  color: #2A2E2E;
  letter-spacing: -0.01px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 4px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
}

.box .news > div .news_content .newsl .list_box .list_box1 :nth-child(2) {
  margin-bottom: 4px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.box .news > div .news_content .newsl .list_box .list_box1 :nth-child(2) a {
  font-size: 16px;
  font-weight: bold;
  color: #0052d9;
}

.box .news > div .news_content .newsl .list_box .list_box1 :nth-child(2) img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 70px;
  top: 4.5px;
}

.box .news > div .news_content .newsl .list_box .list_box1 :nth-child(3) {
  line-height: 29px;
  width: 100%;
}

.box .news > div .news_content .newsl .list_box .list_box1 :nth-child(3) a {
  font-size: 16px;
  color: #919797;
  letter-spacing: 0;
}

.box .news > div .news_content .newsl .list_box .list_box1::after {
  content: "";
  display: block;
  width: 6px;
  height: 100%;
  background: #0052D9;
  position: absolute;
  left: -1px;
  top: 0;
  display: none;
}

.box .news > div .news_content .newsl .list_box .list_box1:hover::after {
  display: block;
}

.box .news > div .news_content .newsl .list_box > div:nth-child(2) {
  margin-top: 23px;
}

.box .notice > div > h2, .box .business_meeting > div > h2 {
  font-size: 30px;
  color: #2a2e2e;
  font-family: 'TencentSansw7';
  height: 45px;
  padding-bottom: 24px;
  border-bottom: 1px solid #F2F3F5;
  margin-bottom: 50px;
}

.box .notice {
  padding: 96px 0;
  background-color: #fbfbfb;
}

.box .notice > div {
  width: 1200px;
  margin: auto;
}

.box .notice > div .notice_box {
  display: flex;
  justify-content: space-between;
}

.box .notice > div .notice_box > div {
  width: 47%;
}

.box .notice > div .notice_box > div > div {
  height: 290px;
  box-sizing: border-box;
  background: #fff;
  padding: 32px 42px 0px 32px;
  border: 1px solid #EFEFEF;
}

.box .notice > div .notice_box > div .notice_text > div em {
  width: 21px;
  height: 20px;
  background: url(https://www.tencent.com/img/investor/ind-bg.png) no-repeat center;
  background-size: 100% 100%;
  float: left;
  text-align: center;
  line-height: 20px;
  font-style: normal;
  font-family: 'TencentSansw7';
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: -0px;
  margin-right: 24px;
  margin-top: 5px;
}

.box .notice > div .notice_box > div .notice_text > div a {
  display: block;
  width: calc(100% - 50px);
  margin-left: 50px;
}

.box .notice > div .notice_box > div .notice_text > div a :nth-child(1) {
  font-size: 16px;
  color: #2A2E2E;
  letter-spacing: 0;
  line-height: 29px;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.box .notice > div .notice_box > div .notice_text > div a :nth-child(2) {
  font-size: 14px;
  color: #919797;
  letter-spacing: 0;
  line-height: 25px;
}

.box .notice > div .notice_box > div .notice_text > div:nth-child(2), .box .notice > div .notice_box > div .notice_text > div:nth-child(3) {
  margin-top: 24px;
}

.box .notice > div .notice_box > div > h1, .box .business_meeting > div .business_meeting_box > div > h1 {
  font-size: 24px;
  color: #2A2E2E;
  letter-spacing: 0;
  line-height: 36px;
  font-weight: bold;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box .notice > div .notice_box > div > h1 a, .box .business_meeting > div .business_meeting_box > div > h1 a {
  font-size: 16px;
  color: #5F6464;
  letter-spacing: 0;
  font-weight: bold;
}

.box .notice > div .notice_box > div > h1 a i, .box .business_meeting > div .business_meeting_box > div > h1 a i {
  display: inline-block;
  margin-left: 10px;
  width: 8px;
  height: 14px;
  background: url(https://www.tencent.com/img/investor/more-awart.png) no-repeat center;
  background-size: 100% 100%;
}

.box .business_meeting {
  padding: 96px 0;
}

.box .business_meeting > div {
  width: 1200px;
  margin: auto;
}

.box .business_meeting > div .business_meeting_box {
  display: flex;
  justify-content: space-between;
}

.box .business_meeting > div .business_meeting_box > div {
  width: 47.5%;
}

.box .business_meeting > div .business_meeting_box > div > div {
  border: 1px solid #EFEFEF;
  box-sizing: border-box;
  min-height: 304px;
}

.box .business_meeting > div .business_meeting_box > div .meeting_box h1 {
  height: 60px;
  padding: 0 42px;
  line-height: 60px;
  font-size: 20px;
  color: #2A2E2E;
  letter-spacing: 0;
  border-bottom: 1px solid #F2F3F5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  font-weight: bold;
}

.box .business_meeting > div .business_meeting_box > div .meeting_box > p {
  padding-left: 42px;
  font-size: 16px;
  color: #2A2E2E;
  letter-spacing: 0;
  line-height: 29px;
  float: left;
  font-weight: bold;
  min-width: 64px;
  cursor: pointer;
}

.box .business_meeting > div .business_meeting_box > div .meeting_box > p span {
  font-size: 16px;
  color: #2A2E2E;
  letter-spacing: 0;
  line-height: 29px;
  margin-left: 50px;
  font-weight: none;
}

.box .business_meeting > div .business_meeting_box > div .timer_box h1 {
  width: 100%;
  height: 60px;
  font-size: 20px;
  color: #2A2E2E;
  letter-spacing: 0;
  border-bottom: 1px solid #F2F3F5;
  line-height: 60px;
  display: flex;
}

.box .business_meeting > div .business_meeting_box > div .timer_box h1 > div {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box .business_meeting > div .business_meeting_box > div .timer_box h1 > div p {
  width: 64px;
  font-size: 16px;
  color: #2A2E2E;
  position: relative;
}

.box .business_meeting > div .business_meeting_box > div .timer_box h1 > div:nth-child(1) p::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #0052d9;
}

.box .business_meeting > div .business_meeting_box > div .timer_box > p {
  font-size: 16px;
  color: #919797;
  letter-spacing: 0;
  line-height: 29px;
  margin-top: 116px;
  width: 100%;
  text-align: center;
}

.box .tools {
  padding: 96px 0 64px 0;
  background-color: #fbfbfb;
}

.box .tools > div {
  width: 1200px;
  margin: auto;
}

.box .tools > div > h2 {
  height: 45px;
  font-size: 30px;
  color: #2a2e2e;
  font-family: 'TencentSansw7';
}

.box .tools > div .tools_pic {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.box .tools > div .tools_pic a {
  display: block;
  width: 180px;
  height: 180px;
  text-align: center;
}

.box .tools > div .tools_pic a:hover {
  background-color: #fff;
}

.box .tools > div .tools_pic a img {
  height: 60px;
  margin-top: 43px;
}

.box .tools > div .tools_pic a p {
  font-size: 16px;
  color: #2A2E2E;
  letter-spacing: -0.01px;
  margin-top: 12px;
  font-weight: bold;
}

.box .link_box {
  padding: 96px 0;
}

.box .link_box > div {
  width: 1200px;
  margin: auto;
}

.box .link_box > div > a {
  display: block;
  width: 100%;
  position: relative;
}

.box .link_box > div > a > img {
  width: 100%;
  height: 355px;
}

.box .link_box > div > a .callus {
  position: absolute;
  top: 35px;
  left: 78px;
}

.box .link_box > div > a .callus h2 {
  font-family: 'TencentSansw7';
  font-size: 30px;
  color: #2a2e2e;
}

.box .link_box > div > a .callus .chaxun {
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  color: #0052d9;
  margin-top: 20px;
  margin-right: 5px;
  position: relative;
}

.box .link_box > div > a .callus .chaxun img {
  width: 19px;
  height: 16px;
  position: absolute;
  right: 45px;
  top: 10px;
}

.box .link_box > div > a .callus .gzh {
  font-size: 16px;
  line-height: 29px;
  color: #2a2e2e;
  margin-top: 24px;
}

.box .link_box > div > a .callus .gzh-1 {
  font-size: 20px;
  line-height: 36px;
  color: #0052D9;
  margin-top: 0px;
}

.box .link_box > div > a .callus .gzh-1:hover ~ img {
  display: inline-block;
}

.box .link_box > div > a .callus > img {
  width: 80px;
  height: 80px;
  display: none;
}

.box .focus {
  width: 1200px;
  height: 89px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f3f5;
  padding-top: 33px;
  display: flex;
  margin: 0 auto 40px;
  position: relative;
}

.box .focus h2 {
  font-size: 20px;
  color: #5f6464;
  margin-right: 28px;
}

.box .focus > a {
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 28px;
  transition: 0.3s;
}

.box .focus > img {
  width: 176px;
  height: 176px;
  position: absolute;
  bottom: 55px;
  left: 94px;
  z-index: 2;
  display: none;
}

.box .focus .wechat {
  background: url(https://www.tencent.com/img/index/icon_wechat.png) no-repeat center/100% 100%;
}

.box .focus .wechat:hover {
  background-image: url(https://www.tencent.com/img/index/icon_wechat_hover.png);
}

.box .focus .wechat:hover ~ img {
  display: block;
}

.box .focus .weibo {
  background: url(https://www.tencent.com/img/index/icon_weibo.png) no-repeat center/100% 100%;
}

.box .focus .weibo:hover {
  background-image: url(https://www.tencent.com/img/index/icon_weibo_hover.png);
}

.box .focus .twitter {
  background: url(https://www.tencent.com/img/index/icon_twitter.png) no-repeat center/100% 100%;
}

.box .focus .twitter:hover {
  background-image: url(https://www.tencent.com/img/index/icon_twitter_hover.png);
}

.box .focus .in {
  background: url(https://www.tencent.com/img/index/icon_in.png) no-repeat center/100% 100%;
}

.box .focus .in:hover {
  background-image: url(https://www.tencent.com/img/index/icon_in_hover.png);
}

.box nav {
  width: 1200px;
  margin: auto;
  display: flex;
  position: relative;
}

.box nav .join, .box nav .contact, .box nav .legal {
  width: 216px;
  display: flex;
  flex-direction: column;
}

.box nav .join h2, .box nav .contact h2, .box nav .legal h2 {
  font-size: 20px;
  color: #5f6464;
  margin-bottom: 30px;
}

.box nav .join a, .box nav .contact a, .box nav .legal a {
  font-size: 16px;
  color: #5f6464;
  margin-bottom: 18px;
}

.box nav > a {
  width: 212px;
  height: 28px;
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.box nav > a img {
  width: 212px;
  height: 28px;
}

.box footer {
  width: 1220px;
  margin: 80px auto;
  display: flex;
}

.box footer .footl {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.box footer .footl a {
  font-size: 14px;
  color: #5f6464;
}

.box footer .footr {
  width: 50%;
  font-size: 14px;
  color: #5f6464;
  text-align: right;
}
