* {
  margin: 0;
  padding: 0;
  font-family: 'PingFangSC-Regular', 'helvetica neue', tahoma, 'PingFang SC', 'microsoft yahei', arial, 'hiragino sans gb', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.box header {
  min-width: 1000px;
  width: 100%;
  height: 72px;
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: #fff;
}

.box header .head {
  width: 1200px;
  height: 72px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box header .head .logo {
  width: 168px;
  height: 22px;
}

.box header .head .logo a {
  display: block;
  width: 168px;
  height: 22px;
  background: url(https://www.tencent.com/img/index/menu_logo_hover.png) no-repeat 0 0/100% 100%;
}

.box header .head .nav {
  width: 672px;
  height: 72px;
  display: flex;
  justify-content: space-between;
}

.box header .head .nav > li {
  height: 72px;
  position: relative;
}

.box header .head .nav > li:hover > a > span {
  width: 100%;
  opacity: 1;
}

.box header .head .nav > li:hover > ul {
  opacity: 1;
  height: 343px;
}

.box header .head .nav > li > a {
  display: block;
  height: 72px;
  font-size: 16px;
  color: #2b2e2e;
  font-weight: bold;
  opacity: 0.95;
  line-height: 72px;
  position: relative;
}

.box header .head .nav > li > a span {
  display: block;
  height: 4px;
  width: 0;
  position: absolute;
  bottom: 19px;
  left: 50%;
  background: #194ac3;
  opacity: 0;
  transition: 0.5s;
  transform: translate(-50%);
  z-index: 2;
}

.box header .head .nav > li > ul {
  opacity: 0;
  position: absolute;
  top: 72px;
  height: 0;
  transition: 0.5s;
  overflow: hidden;
}

.box header .head .nav > li > ul li {
  width: 160px;
}

.box header .head .nav > li > ul li:hover a {
  color: #000;
}

.box header .head .nav > li > ul li a {
  display: block;
  font-size: 16px;
  color: #2b2e2e;
  opacity: 0.7;
  padding: 13px 0;
}

.box header .head .lang {
  width: 93px;
  height: 24px;
}

.box header .head .lang a {
  font-size: 16px;
  opacity: 0.7;
  color: #000;
}

.box header .head .lang span {
  font-size: 16px;
  color: #2b2e2e;
  opacity: 0.7;
}

.box .bg {
  width: 100%;
  height: 0;
  background-color: #fff;
  transition: 0.2s;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 4;
}

.box .bgImg {
  width: 100%;
  height: 482px;
  background: url(https://www.tencent.com/img/banners/business-1.jpg) no-repeat top/cover;
  position: relative;
  top: 72px;
}

.box .bgImg > div {
  width: 1200px;
  position: absolute;
  top: 202px;
  left: calc((100% - 1200px)/2);
}

.box .bgImg > div h2 {
  font-family: 'TencentSansw3';
  font-size: 44px;
  color: #2A2E2E;
  margin-bottom: 8px;
  font-weight: 400;
}

.box .bgImg > div p {
  font-size: 16px;
  color: #2A2E2E;
}

.box .faceto {
  width: 100%;
  height: 68px;
  border-bottom: 1px solid #f4f4f4;
  margin-top: 72px;
}

.box .faceto > div {
  width: 1200px;
  height: 100%;
  margin: auto;
  display: flex;
}

.box .faceto > div > a {
  display: block;
  height: 68px;
  color: #2a2e2e;
  font-size: 20px;
  line-height: 68px;
  margin-right: 56px;
  position: relative;
}

.box .faceto > div a:nth-child(1)::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #0052d9;
  position: absolute;
  bottom: 0;
}

.box .item-1 .text, .box .item-2 .text1, .box .item-3 .text2, .box .item-4 .text3 {
  width: 344px;
  padding-right: 64px;
}

.box .item-1 .text h2, .box .item-2 .text1 h2, .box .item-3 .text2 h2, .box .item-4 .text3 h2 {
  font-size: 24px;
  height: 36px;
  line-height: 36px;
  margin-bottom: 24px;
  color: #2a2e2e;
}

.box .item-1 .text p, .box .item-2 .text1 p, .box .item-3 .text2 p, .box .item-4 .text3 p {
  font-size: 14px;
  line-height: 25px;
  color: #5f6464;
}

.box .item-1 .product, .box .item-2 .product1, .box .item-3 .product2, .box .item-4 .product3 {
  display: flex;
  flex-wrap: wrap;
}

.box .item-1 .product > li, .box .item-2 .product1 > li, .box .item-3 .product2 > li, .box .item-4 .product3 > li {
  width: 220px;
  height: 224px;
  text-align: center;
}

.box .item-1 .product > li > a, .box .item-2 .product1 > li > a, .box .item-3 .product2 > li > a, .box .item-4 .product3 > li > a {
  display: block;
  width: 220px;
  height: 224px;
}

.box .item-1 .product > li > a img, .box .item-2 .product1 > li > a img, .box .item-3 .product2 > li > a img, .box .item-4 .product3 > li > a img {
  width: 96px;
  height: 96px;
}

.box .item-1 .product > li > a h1, .box .item-2 .product1 > li > a h1, .box .item-3 .product2 > li > a h1, .box .item-4 .product3 > li > a h1 {
  margin-top: 8px;
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  color: #2a2e2e;
}

.box .item-1 .product > li > a p, .box .item-2 .product1 > li > a p, .box .item-3 .product2 > li > a p, .box .item-4 .product3 > li > a p {
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #5f6464;
}

.box .item-1 {
  width: 1400px;
  box-sizing: border-box;
  margin: auto;
  height: 461px;
  padding: 96px 12px 96px 100px;
  display: flex;
}

.box .item-1 .text {
  height: 135px;
}

.box .item-1 .product {
  height: 224px;
  width: 660px;
}

.box .item-2 {
  width: 1400px;
  box-sizing: border-box;
  margin: auto;
  height: 717px;
  padding: 40px 12px 40px 100px;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
}

.box .item-2 .text1 {
  height: 285px;
}

.box .item-2 .product1 {
  width: 880px;
  height: 672px;
}

.box .item-3 {
  width: 1400px;
  box-sizing: border-box;
  margin: auto;
  height: 909px;
  padding: 96px 12px 96px 100px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.box .item-3 .text2 {
  height: 185px;
}

.box .item-3 .product2 {
  width: 880px;
  height: 672px;
}

.box .item-4 {
  width: 1400px;
  box-sizing: border-box;
  margin: auto;
  height: 573px;
  padding: 40px 12px 40px 100px;
  display: flex;
  align-items: center;
  background-color: #fbfbfb;
}

.box .item-4 .text3 {
  height: 135px;
}

.box .item-4 .product3 {
  width: 880px;
  height: 448px;
}

.box .focus {
  width: 1200px;
  height: 89px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f3f5;
  padding-top: 33px;
  display: flex;
  margin: 0 auto 40px;
  position: relative;
}

.box .focus h2 {
  font-size: 20px;
  color: #5f6464;
  margin-right: 28px;
}

.box .focus > a {
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 28px;
  transition: 0.3s;
}

.box .focus > img {
  width: 176px;
  height: 176px;
  position: absolute;
  bottom: 55px;
  left: 94px;
  z-index: 2;
  display: none;
}

.box .focus .wechat {
  background: url(https://www.tencent.com/img/index/icon_wechat.png) no-repeat center/100% 100%;
}

.box .focus .wechat:hover {
  background-image: url(https://www.tencent.com/img/index/icon_wechat_hover.png);
}

.box .focus .wechat:hover ~ img {
  display: block;
}

.box .focus .weibo {
  background: url(https://www.tencent.com/img/index/icon_weibo.png) no-repeat center/100% 100%;
}

.box .focus .weibo:hover {
  background-image: url(https://www.tencent.com/img/index/icon_weibo_hover.png);
}

.box .focus .twitter {
  background: url(https://www.tencent.com/img/index/icon_twitter.png) no-repeat center/100% 100%;
}

.box .focus .twitter:hover {
  background-image: url(https://www.tencent.com/img/index/icon_twitter_hover.png);
}

.box .focus .in {
  background: url(https://www.tencent.com/img/index/icon_in.png) no-repeat center/100% 100%;
}

.box .focus .in:hover {
  background-image: url(https://www.tencent.com/img/index/icon_in_hover.png);
}

.box nav {
  width: 1200px;
  margin: auto;
  display: flex;
  position: relative;
}

.box nav .join, .box nav .contact, .box nav .legal {
  width: 216px;
  display: flex;
  flex-direction: column;
}

.box nav .join h2, .box nav .contact h2, .box nav .legal h2 {
  font-size: 20px;
  color: #5f6464;
  margin-bottom: 30px;
}

.box nav .join a, .box nav .contact a, .box nav .legal a {
  font-size: 16px;
  color: #5f6464;
  margin-bottom: 18px;
}

.box nav > a {
  width: 212px;
  height: 28px;
  position: absolute;
  bottom: 100px;
  right: 100px;
}

.box nav > a img {
  width: 212px;
  height: 28px;
}

.box footer {
  width: 1220px;
  margin: 80px auto;
  display: flex;
}

.box footer .footl {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.box footer .footl a {
  font-size: 14px;
  color: #5f6464;
}

.box footer .footr {
  width: 50%;
  font-size: 14px;
  color: #5f6464;
  text-align: right;
}
